exemplos/node_modules
exemplos/public/hot
exemplos/public/storage
exemplos/storage/*.key
exemplos/vendor
exemplos/.env
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
vendas/node_modules
vendas/public/hot
vendas/public/storage
vendas/storage/*.key
vendas/vendor
vendas/.env
modelos/node_modules
modelos/public/hot
modelos/public/storage
modelos/storage/*.key
modelos/vendor
modelos/.env